**Import pandas into your notebook and read the .csv file:**

In [7]:
import pandas as pd
df = pd.read_csv('salaries_by_college_major.csv')

**Now take a look at the Pandas dataframe we've just created with .head(). This will show us the first 5 rows of our dataframe:**

In [9]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

**To see the number of rows and columns we can use the shape attribute:**

In [10]:
df.shape

(51, 6)

**We saw that each column had a name. We can access the column names directly with the columns attribute**

In [11]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')